<img src='{{currentWeather.icon_url}}' alt='weather' />
<br/>
Conds: {{currentWeather.weather}}<br/>
Temp : <span class="dataval">{{currentWeather.temp_c}}c</span><br/>
Feels: {{currentWeather.feelslike_c}}c<br/>
Wind : {{currentWeather.wind_string}}<br/>
Rain : {{currentWeather.precip_1hr_metric}}<br/>
Time : {{currentWeather.observation_time}}<br/>
<br/><a href='{{currentWeather.forecast_url}}'>Click for Forecast</a>